<a href="https://colab.research.google.com/github/UmeshShirale09/Data-Science/blob/main/Basics_of_Python_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Basics of Python Programming**
---

**1. Comments in python**
---

In [1]:
# single line comment

In [3]:
"""
For 
multiline 
comments

"""

'\nFor \nmultiline \ncomments\n\n'

**2. Python Identifier**
---


*   Python identifier is the name given to the variable
*   Python idenditfier uses A-Z or a-z or _ or 0-9 to create variable name
*   Spaces are not allowed

```
# This is formatted as code
```

In [10]:
# Valid variable name
MyName = "Umesh"
My_Name = "Umesh"
My_Name_1 = "Umesh"
x = 14
z = 45.5
a = True

In [12]:
# Invalid variable name
# This will give you error i.e.syntax error
My Name = "Umesh"
3dfIgh = "Umesh"
My#Name = "Umesh"

SyntaxError: ignored

**3. Reserved Keywords**
---


A list of reserved keyword in python
1.   and               
2.   as
3.   assert
4.   break
5.   class
6.   continue
7.   def
8.   del
9.   elif
10.  else
11.  except
12.  False
13.  finally
14.  for
15.  from
16.  global
17.  if 
18.  import
19.  in
20.  is
21.  lambda
22.  None
23.  nonlocal
24.  not
25.  or
26.  pass
27.  raise 
28.  return
29.  True
30.  try
31.  while
32.  with
33.  yield

**4. Variables**
---


*   Variables hold the value
*   The process of writing variable name is called declaring the variable.
*   In python programming there is no need to specify the data type, python interpreter do it automatically.
* Assignment operator  "=" is used

In [13]:
# Variable name 
name = 'Umesh'   
amount = 23000   
age = 65.5
print(name)                # print value
print(type(name))          # print class
print(amount)              # print value
print(type(amount))        # print class
print(age)                 # print value
print(type(age))           # print class

Umesh
<class 'str'>
23000
<class 'int'>
65.5
<class 'float'>

**5. Standard Data Types**
---


1.   Numeric
2.   String
3.   List
4.   Tuple
5.   Dictionary
6.   Boolean

**1. Numeric Data Type**


---
*   Integer
*   Real Numbers or fractional numbers or floating point numbers
    - Floating point numbers contain a decimal or fractional point

In [17]:
# Numeric data types
num1 = 45        # integer number
num2 = 45.5      # real number or float
print(num1)
print(type(num1))
print(num2)
print(type(num2))

45
<class 'int'>
45.5
<class 'float'>

**2. String Data Type**

---


*   A series of sequence of alphbets, numerals and special characters.
*   Single quotes or double quotes are used to represent strings.
*   There are many operations can be performed on a string.
    - Slice operator : [ ] and [ : ]
       - Used to take out a subset of string
    - Concatenation Operator :  +
       - Used to combine two or more than than two strings 
    - Repetition operator : *
       - Used to repeat the same string several times

In [18]:
# String
name = 'Umesh'
print(name)
print(type(name))

Umesh
<class 'str'>

In [24]:
# Slice Operator
name = 'Hi Umesh!'
print(name[1])
print(name[0:6])
print(name[0:8:2])

i
Hi Ume
H ms

In [27]:
# Concatenation operator " + "
name = 'Umesh'
print('My name is ' + name)

My name is Umesh

In [29]:
# Repeatation operator " * "
name = "Hello Umesh "
print(name * 3)

Hello Umesh Hello Umesh Hello Umesh