<a href="https://colab.research.google.com/github/UmeshShirale09/Data-Science/blob/main/Basics_of_Python_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Basics of Python Programming**
---

**What is AI ?**

---

* Branch of Science
* ML, NLP, CV, Soft Computing use combination of this to solve problem.
* ML has algorithm : 18 
* DL has algorithm : 06

**Features of Python**

---

*   General Purpose Programming Language
*   High Level Programming Language
*   Easy to access
*   Rich libraries
*   Dynamically Programming Language
*   English-like Command
*   Interactive Programming L
*   Scalable 
*   Functional Oriented
*   Object Oriented
*   Open Source in nature
*   Lot of functions are readily available
*   Modular Programming Language
*   Shell Scripting Capability
*   Case Sensitive
*   Platform independent
*   Iterative
*   Multithreading Capability

**Tools**

---

* Spyder
* Jupyter Notebook

**Python extension :**
 * .py
 * .ipynb

**1. Comments in python**
---

In [ ]:
# single line comment

In [ ]:
"""
For 
multiline 
comments

"""

'\nFor \nmultiline \ncomments\n\n'

**2. Python Identifier**
---


*   Python identifier is the name given to the variable
*   Python idenditfier uses A-Z or a-z or _ or 0-9 to create variable name
*   Spaces are not allowed

```
# This is formatted as code
```

In [ ]:
# Valid variable name
MyName = "Umesh"
My_Name = "Umesh"
My_Name_1 = "Umesh"
x = 14
z = 45.5
a = True

In [ ]:
# Invalid variable name
# This will give you error i.e.syntax error
My Name = "Umesh"
3dfIgh = "Umesh"
My#Name = "Umesh"

SyntaxError: ignored

**3. Reserved Keywords**
---


A list of reserved keyword in python
1.   and               
2.   as
3.   assert
4.   break
5.   class
6.   continue
7.   def
8.   del
9.   elif
10.  else
11.  except
12.  False
13.  finally
14.  for
15.  from
16.  global
17.  if 
18.  import
19.  in
20.  is
21.  lambda
22.  None
23.  nonlocal
24.  not
25.  or
26.  pass
27.  raise 
28.  return
29.  True
30.  try
31.  while
32.  with
33.  yield

**4. Variables**
---


*   Variables hold the value
*   The process of writing variable name is called declaring the variable.
*   In python programming there is no need to specify the data type, python interpreter do it automatically.
* Assignment operator  "=" is used

In [ ]:
# Variable name 
name = 'Umesh'   
amount = 23000   
age = 65.5
print(name)                # print value
print(type(name))          # print class
print(amount)              # print value
print(type(amount))        # print class
print(age)                 # print value
print(type(age))           # print class

Umesh
<class 'str'>
23000
<class 'int'>
65.5
<class 'float'>

**5. Standard Data Types**
---
1.   Numeric
2.   String
3.   List
4.   Tuple
5.   Dictionary
6.   Boolean

**Standard Data Types**

---

Mutable Data Type : means object can be changed
* List
* Dictionary
(Series = column & vector = row)
Array : 1 D = Vector
        2 D = Matrix

Immutabale Data Types:
means object/values cannot be change ones it is assigned
* Tuple
* Strings

**1. Numeric Data Type**

---
*   Integer
*   Immutable
*   Real Numbers or fractional numbers or floating point numbers
    - Floating point numbers contain a decimal or fractional point

**Data Type**

---

* Integer
* Float
* Complex
* Strings
* Boolean => True/False

In [ ]:
# Integer
print(1) # command publish the output

a= 10
type(a)

print(2+6)  # addition
print(12*3) # multiplication
type(a)

1
8
36

int

In [ ]:
1+4 # Execute and throws output

5

**Variable**

---
* Variable is a memory pointer.
* There is no need to define data type in python.
* we can check data type using type command
  eg. a = 5 
      type(a)

In [ ]:
# Float
print(11.5)
x = 11.2 
print(x)
print(5.5+3.6)
type(x)

11.5
11.2
9.1

float

In [ ]:
# Complex
a = 2+3j

print(a)
type(a)

(2+3j)

complex

In [ ]:
# Boolean

a = True
print(a)
type(a)

True

bool

In [ ]:
# Numeric data types
num1 = 45        # integer number
num2 = 45.5      # real number or float
print(num1)
print(type(num1))
print(num2)
print(type(num2))

45
<class 'int'>
45.5
<class 'float'>

**2. String Data Type**

---


*   A series of sequence of alphbets, numerals and special characters.
*   Single quotes or double quotes are used to represent strings.
*   String is immutable, so we cant change it.
*   There are many operations can be performed on a string.
    - Slice operator : [ ] and [ : ]
       - Used to take out a subset of string
    - Concatenation Operator :  +
       - Used to combine two or more than than two strings 
    - Repetition operator : *
       - Used to repeat the same string several times

In [ ]:
# String
name = 'Umesh'
print(name)
print(type(name))

Umesh
<class 'str'>

In [ ]:
# Slice Operator
name = 'Hi Umesh!'
print(name[1])
print(name[0:6])
print(name[0:8:2])

i
Hi Ume
H ms

In [ ]:
# Concatenation operator " + "
name = 'Umesh'
print('My name is ' + name)

My name is Umesh

In [ ]:
# Repeatation operator " * "
name = "Hello Umesh "
print(name * 3)

Hello Umesh Hello Umesh Hello Umesh

**Operator**

---
* Artithmetic Operators
* Assignment Operators 
* Comparion/Relational Operator
* Logical Operator

**Arithmetic Operators**
---
Used to perform arithmetic operations

* Addition = +
* Substraction = -
* Multiplication = *
* Division = /
* Floor Division = //
* Remainder = %
* Exponential = **

In [ ]:
# consider
a = 45
b = 85
a, b

(45, 85)

In [ ]:
# addition
a = 45
b = 85
a + b

130

In [ ]:
# substraction
a = 45
b = 85
b - a

40

In [ ]:
# Multiplication
a = 45
b = 85
a * b

3825

In [ ]:
# Division
a = 45
b = 85
a/b

0.5294117647058824

In [ ]:
# Floor Division 
# It omits the decimal part or round up  
a = 45
b = 85
a//b

0

In [ ]:
# remainder
a = 45
b = 85
a % b

45

In [ ]:
# exponential
a = 45
b = 2
a ** b

2025

**Comparison/Relational Operator**

---
Output of relational operator is boolean i.e. True or False

* Equal : ==
* Not equal : !=
* Greater than : >
* Less than : <
* Greater than or equal : >=
* Less than or equal : <=

In [ ]:
# Equal : ==
a = 12
b = 12
a == b

True

In [ ]:
# Not Equal : !=
a = 12
b = 12
a != b

False

In [ ]:
# Greater : >
a = 12
b = 13
a > b

False

In [ ]:
# Less : <
a = 11
b = 12
a < b

True

In [ ]:
# Greater than or equal : >=
a = 15
b = 13
a >= b

True

In [ ]:
# less than or equal : <=
a = 15
b = 13
a <= b

False

**Assignment Operator**

---
* addition a = a + b : a += b

* substraction a = a - b : a -= b

* multiplication a = a * b : a *= b

* division a = a / b : a /= b

* floor division  a = a // b : a //= b

* remainder a = a % b : a %= b

* exponential a = a ** b : a **= b

In [ ]:
# add
a = 4
b = 5
a += b
print(a)

9

In [ ]:
# sub
a = 8
b = 6
a -= b
print(a)

2

In [ ]:
# mul
a = 8
b = 6
a *= b
print(a)

48

In [ ]:
# div
a = 8
b = 6
a /= b
print(a)

1.3333333333333333

In [ ]:
# floor division
a = 8
b = 6
a //= b
print(a)

1

In [ ]:
# rem
a = 8
b = 6
a %= b
print(a)

2

In [ ]:
# exponential
a = 8
b = 2
a **= b
print(a)

64

**Bitwise Operator**

---
format is used to Internally converting the values into bitwise 
eg . format(2, "b") => 0010

Required if your dealing with machine level application

* Binary AND Operator :  &
* Binary OR Operator  :  |
* Binary XOR Operatoor : ^

In [ ]:
# Convert number to binary using format function
a = 10
b = 5
print(format(10, "b"))
print(format(5, "b"))

1010
101

In [ ]:
# Binary &
a = 5
print(format(a, "b"))
b = 4
print(format(b, "b"))
c = a & b
print(format(c, "b"))
print(c)

101
100
100
4

In [ ]:
# Binary |
a = 5
print(format(a, "b"))
b = 4
print(format(b, "b"))
c = a | b
print(format(c, "b"))
print(c)

101
100
101
5

In [ ]:
# Binary ^
a = 5
print(format(a, "b"))
b = 4
print(format(b, "b"))
c = a ^ b
print(format(c, "b"))
print(c)

101
100
1
1

**Logical Operator**

---

* Logical and operator : and
* Logical or operator : or

In [ ]:
# Logical and operator
a = 3
print(format(a, "b"))
b = 2
print(format(b, "b"))
c = a and b
print(format(c, "b"))
print(c)

11
10
10
2

In [ ]:
# Logical or operator
a = 3
print(format(a, "b"))
b = 2
print(format(b, "b"))
c = a or b
print(format(c, "b"))
print(c)

11
10
11
3

**Membership Operators**

---
It will check that left value is a member of right value or not. It will gives boolean ouput i.e. True/False
* in operator : The value is present return True otherwise return False
* not in operator : The value is not present return True otherwise return False

In [ ]:
# in operator 
"y" in "Python"

True

In [ ]:
# not in operator
"p" not in "python"

False

**Identity Operators**

---
It will check that left value is equal to the right value or not. It will gives boolean ouput i.e. True/False
* is : similar to eqal to
* is not : similar to not equal to

In [ ]:
# is operator
"y" is "python"

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-3-7515f8cd99ee>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  "y" is "python"

False

In [ ]:
# is operator
1 is 1

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-4-9ae7cf12afd8>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  1 is 1

True

In [ ]:
# is
"python" == "python"

True

In [ ]:
# is not operator
"y" is not "python"

<>:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-5-935fee86d4d4>:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  "y" is not "python"

True

In [ ]:
# is not operator
1 is 1

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-1-c9c59497193a>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  1 is 1

True

In [ ]:
# is not
"python" != "python"

False

**Data Structure**

---
* How to deal with data 
* Data should be in structured format so data type are easily identified.
* In python the data is in table format.
* In python table representation is called Dataframe
* Table is collection of multiple rows and each rows identified by multiple column
* Column = field
* Array/Vectors
* Vector = the data which has magnitude and direction.
* Vector is one dimensional array
* Vector is a sequntial arrangement of data with index.
* Python does not deal with vector and first alternative for this is array
* Array is arrangement of data which can have multidimensional data
* Array is collection homogeneous data
* Vector can be 1 dimensional array but array 1 dimensional array is not always vector.

In [ ]:
# Array/Vectors
# array is created in python by importing array module to the python program.
from array import *  
array1 = array('i', [10,20,30,40,50])
for x in array1:
  print(x)

10
20
30
40
50

In [ ]:
help(array)

Help on class array in module array:

class array(builtins.object)
 |  array(typecode [, initializer]) -> array
 |
 |  Return a new array whose items are restricted by typecode, and
 |  initialized from the optional initializer value, which must be a list,
 |  string or iterable over elements of the appropriate type.
 |
 |  Arrays represent basic values and behave very much like lists, except
 |  the type of objects stored in them is constrained. The type is specified
 |  at object creation time by using a type code, which is a single character.
 |  The following type codes are defined:
 |
 |      Type code   C Type             Minimum size in bytes
 |      'b'         signed integer     1
 |      'B'         unsigned integer   1
 |      'u'         Unicode character  2 (see note)
 |      'h'         signed integer     2
 |      'H'         unsigned integer   2
 |      'i'         signed integer     2
 |      'I'         unsigned integer   2
 |      'l'         signed integer     4
 |      'L'         unsigned integer   4
 |      'q'         signed integer     8 (see note)
 |      'Q'         unsigned integer   8 (see note)
 |      'f'         floating point     4
 |      'd'         floating point     8
 |
 |  NOTE: The 'u' typecode corresponds to Python's unicode character. On
 |  narrow builds this is 2-bytes on wide builds this is 4-bytes.
 |
 |  NOTE: The 'q' and 'Q' type codes are only available if the platform
 |  C compiler used to build Python supports 'long long', or, on Windows,
 |  '__int64'.
 |
 |  Methods:
 |
 |  append() -- append a new item to the end of the array
 |  buffer_info() -- return information giving the current memory info
 |  byteswap() -- byteswap all the items of the array
 |  count() -- return number of occurrences of an object
 |  extend() -- extend array by appending multiple elements from an iterable
 |  fromfile() -- read items from a file object
 |  fromlist() -- append items from the list
 |  frombytes() -- append items from the string
 |  index() -- return index of first occurrence of an object
 |  insert() -- insert a new item into the array at a provided position
 |  pop() -- remove and return item (default last)
 |  remove() -- remove first occurrence of an object
 |  reverse() -- reverse the order of the items in the array
 |  tofile() -- write all items to a file object
 |  tolist() -- return the array converted to an ordinary list
 |  tobytes() -- return the array converted to a string
 |
 |  Attributes:
 |
 |  typecode -- the typecode character used to create the array
 |  itemsize -- the length in bytes of one array item
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __copy__(self, /)
 |      Return a copy of the array.
 |
 |  __deepcopy__(self, unused, /)
 |      Return a copy of the array.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce_ex__(self, value, /)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Size of the array in memory, in bytes.
 |
 |  append(self, v, /)
 |      Append new value v to the end of the array.
 |
 |  buffer_info(self, /)
 |      Return a tuple (address, length) giving the current memory address and the length in items of the buffer used to hold array's contents.
 |
 |      The length should be multiplied by the itemsize attribute to calculate
 |      the buffer length in bytes.
 |
 |  byteswap(self, /)
 |      Byteswap all items of the array.
 |
 |      If the items in the array are not 1, 2, 4, or 8 bytes in size, RuntimeError is
 |      raised.
 |
 |  count(self, v, /)
 |      Return number of occurrences of v in the array.
 |
 |  extend(self, bb, /)
 |      Append items to the end of the array.
 |
 |  frombytes(self, buffer, /)
 |      Appends items from the string, interpreting it as an array of machine values, as if it had been read from a file using the fromfile() method).
 |
 |  fromfile(self, f, n, /)
 |      Read n objects from the file object f and append them to the end of the array.
 |
 |  fromlist(self, list, /)
 |      Append items to array from list.
 |
 |  fromstring(self, buffer, /)
 |      Appends items from the string, interpreting it as an array of machine values, as if it had been read from a file using the fromfile() method).
 |
 |      This method is deprecated. Use frombytes instead.
 |
 |  fromunicode(self, ustr, /)
 |      Extends this array with data from the unicode string ustr.
 |
 |      The array must be a unicode type array; otherwise a ValueError is raised.
 |      Use array.frombytes(ustr.encode(...)) to append Unicode data to an array of
 |      some other type.
 |
 |  index(self, v, /)
 |      Return index of first occurrence of v in the array.
 |
 |  insert(self, i, v, /)
 |      Insert a new item v into the array before position i.
 |
 |  pop(self, i=-1, /)
 |      Return the i-th element and delete it from the array.
 |
 |      i defaults to -1.
 |
 |  remove(self, v, /)
 |      Remove the first occurrence of v in the array.
 |
 |  reverse(self, /)
 |      Reverse the order of the items in the array.
 |
 |  tobytes(self, /)
 |      Convert the array to an array of machine values and return the bytes representation.
 |
 |  tofile(self, f, /)
 |      Write all items (as machine values) to the file object f.
 |
 |  tolist(self, /)
 |      Convert array to an ordinary list with the same items.
 |
 |  tostring(self, /)
 |      Convert the array to an array of machine values and return the bytes representation.
 |
 |      This method is deprecated. Use tobytes instead.
 |
 |  tounicode(self, /)
 |      Extends this array with data from the unicode string ustr.
 |
 |      Convert the array to a unicode string.  The array must be a unicode type array;
 |      otherwise a ValueError is raised.  Use array.tobytes().decode() to obtain a
 |      unicode string from an array of some other type.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  itemsize
 |      the size, in bytes, of one array item
 |
 |  typecode
 |      the typecode character used to create the array
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

**Array Methods**

---
Methods:
* append() -- append a new item to the end of the array
* buffer_info() -- return information giving the current memory info
* byteswap() -- byteswap all the items of the array
* count() -- return number of occurrences of an object
* extend() -- extend array by appending multiple elements from an iterable
*  fromfile() -- read items from a file object
*  fromlist() -- append items from the list
* frombytes() -- append items from the string
*  index() -- return index of first occurrence of an object
*  insert() -- insert a new item into the array at a provided position
*  pop() -- remove and return item (default last)
*  remove() -- remove first occurrence of an object
*  reverse() -- reverse the order of the items in the array
*  tofile() -- write all items to a file object
*  tolist() -- return the array converted to an ordinary list
*  tobytes() -- return the array converted to a string

 *  Type code          C Type        Minimum size in bytes
 *     'b'         signed integer     1
 *     'B'         unsigned integer   1
 *      'u'         Unicode character  2 
 *       'h'         signed integer     2
 *       'H'         unsigned integer   2
 *      'i'         signed integer     2
 *      'I'         unsigned integer   2
 *      'l'         signed integer     4
 *      'L'         unsigned integer   4
 *      'q'         signed integer     8 
 *      'Q'         unsigned integer   8 
 *      'f'         floating point     4
 *      'd'         floating point     8

In [ ]:
# insert operation
from array import *
array1 = array('i', [10,20,30,40,50])
array1.insert(1,60)    # inserting the data on specified location 1 is the index number and 60 is the data
for x in array1:
  print(x)

10
60
20
30
40
50

In [ ]:
# buffer info
# return information giving the current memory info
from array import *
array1 = array('i', [10,20,30,40,50])
array1.buffer_info() # Gives memory location

(140496794089392, 5)

In [ ]:
# remove/ Deletion operation
from array import *
array1 = array('i', [10,20,30,40,50])
array1.remove(50)  # Deleting the data
for x in array1:
  print(x)

10
20
30
40

In [ ]:
# Update operation
from array import *
array1 = array('i', [10,20,30,40,50]) # i i is integer
array1[2] = 100  # Replace data
for x in array1:
  print(x)

10
20
100
40
50

**2 Dimensional Array**

---
* Accessing values in a two dimensional array
* The data elements in two dimensional arrays can be accessed using indices.
* One index refering to the main or parent array and another index reffering to the position of the data element in the inner array.
* If we mention only one index then the entire inner array is printed for that index position.

In [ ]:
from array import *
T = [[1,2,3], [4,5,6], [7,8,9], [10,11,12]]   # 2D Array
print(T[0])    
print(T[1])
print(T[2])
print(T[3])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
[10, 11, 12]

In [ ]:
from array import *
T = [[1,2,3], [4,5,6], [7,8,9], [10,11,12]]   # 2D Array
print(T[0][1])     # Access the individual value 
print(T[1][1])
print(T[2][1])
print(T[3][1])

2
5
8
11

In [ ]:
# Inserting 2D array
from array import *
T = [[1,2,3], [4,5,6], [7,8,9], [10,11,12]]   # 2D Array
T.insert(2, [1,1,1]) # inserting at index 2
T

[[1, 2, 3], [4, 5, 6], [1, 1, 1], [7, 8, 9], [10, 11, 12]]

In [ ]:
# Update 2D array
from array import *
T = [[1,2,3], [4,5,6], [7,8,9], [10,11,12]]   # 2D Array
print("Previous 2D array =", T)
T[2] = [2,2,2]      # Replace the value at index 2
print("2D array after updating =", T )

Previous 2D array = [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]
2D array after updating = [[1, 2, 3], [4, 5, 6], [2, 2, 2], [10, 11, 12]]

In [ ]:
# Update 2D array individual element
from array import *
T = [[1,2,3], [4,5,6], [7,8,9], [10,11,12]]   # 2D Array
print("Previous 2D array = ", T)
T[2][1] = 111        # Replace the value at index(2,1)
print("2D array after updating= ", T)

Previous 2D array =  [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]
2D array after updating=  [[1, 2, 3], [4, 5, 6], [7, 111, 9], [10, 11, 12]]

In [ ]:
# Remove/ Delete
from array import *
T = [[1,2,3], [4,5,6], [7,8,9], [10,11,12]]   # 2D Array
print("Previous 2D array = ", T)
del T[1]        # Delete
print("2D array after updating= ", T)

Previous 2D array =  [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]
2D array after updating=  [[1, 2, 3], [7, 8, 9], [10, 11, 12]]

**Matrix**

---
* Matrix have 6 dimension
* Matrix is a special case of 2 dimensional array where each data element is of strictly as of same size.
* So every matrix is also a two dimensional array but not vice versa.
* Matrices are very important data structures for many mathematical and scientific calculations.

In [ ]:
# Matrix 
from numpy import *
a = array([["Mon", 1, 2 ,3,4], ["Tue", 5, 6 ,3, 4],
           ["Wed", 8, 9 ,3,4], ["Thu", 7, 6 ,2, 4],
           ["Fri", 4, 2 ,3,4], ["Sat", 5, 2 ,9, 4],
           ["Sun", 10, 12 ,3,4]])
print(a)
m1 = reshape(a, (7,5))
print(m1)
print(type(m1))

[['Mon' '1' '2' '3' '4']
 ['Tue' '5' '6' '3' '4']
 ['Wed' '8' '9' '3' '4']
 ['Thu' '7' '6' '2' '4']
 ['Fri' '4' '2' '3' '4']
 ['Sat' '5' '2' '9' '4']
 ['Sun' '10' '12' '3' '4']]
[['Mon' '1' '2' '3' '4']
 ['Tue' '5' '6' '3' '4']
 ['Wed' '8' '9' '3' '4']
 ['Thu' '7' '6' '2' '4']
 ['Fri' '4' '2' '3' '4']
 ['Sat' '5' '2' '9' '4']
 ['Sun' '10' '12' '3' '4']]
<class 'numpy.ndarray'>

In [ ]:
# Accessing values in matrix
from numpy import *
a = array([["Mon", 1, 2 ,3,4], ["Tue", 5, 6 ,3, 4],
           ["Wed", 8, 9 ,3,4], ["Thu", 7, 6 ,2, 4],
           ["Fri", 4, 2 ,3,4], ["Sat", 5, 2 ,9, 4],
           ["Sun", 10, 12 ,3,4]])
m1 = reshape(a, (7,5))
print(m1[1])  # print data for wednesday

print(m1[4][3]) # print data for friday evening

['Tue' '5' '6' '3' '4']
3

In [ ]:
# Adding the data
from numpy import *
a = array([["Mon", 1, 2 ,3,4], ["Tue", 5, 6 ,3, 4],
           ["Wed", 8, 9 ,3,4], ["Thu", 7, 6 ,2, 4],
           ["Fri", 4, 2 ,3,4], ["Sat", 5, 2 ,9, 4],
           ["Sun", 10, 12 ,3,4]])
m1 = reshape(a, (7,5))
print(m1)
print("********************************")
# adding row at th end
m1_r = append(m1, [["Avg", 10, 10, 10, 10]], 0)  # adding by using append at the end (0 for row)
print(m1_r)
print("********************************")
# insert column at the index position 3 
m1_c = insert(m1,[3], [[20],[20],[20],[20],[20],[20],[20]], 1)  # adding by using insert at required location (1 for column)
print(m1_c)

[['Mon' '1' '2' '3' '4']
 ['Tue' '5' '6' '3' '4']
 ['Wed' '8' '9' '3' '4']
 ['Thu' '7' '6' '2' '4']
 ['Fri' '4' '2' '3' '4']
 ['Sat' '5' '2' '9' '4']
 ['Sun' '10' '12' '3' '4']]
********************************
[['Mon' '1' '2' '3' '4']
 ['Tue' '5' '6' '3' '4']
 ['Wed' '8' '9' '3' '4']
 ['Thu' '7' '6' '2' '4']
 ['Fri' '4' '2' '3' '4']
 ['Sat' '5' '2' '9' '4']
 ['Sun' '10' '12' '3' '4']
 ['Avg' '10' '10' '10' '10']]
********************************
[['Mon' '1' '2' '20' '3' '4']
 ['Tue' '5' '6' '20' '3' '4']
 ['Wed' '8' '9' '20' '3' '4']
 ['Thu' '7' '6' '20' '2' '4']
 ['Fri' '4' '2' '20' '3' '4']
 ['Sat' '5' '2' '20' '9' '4']
 ['Sun' '10' '12' '20' '3' '4']]

In [ ]:
# Delete the row data
from numpy import *
m1 = array([["Mon", 1, 2 ,3,4], ["Tue", 5, 6 ,3, 4],
           ["Wed", 8, 9 ,3,4], ["Thu", 7, 6 ,2, 4],
           ["Fri", 4, 2 ,3,4], ["Sat", 5, 2 ,9, 4],
           ["Sun", 10, 12 ,3,4]])
m2 = delete(m1,[2],0)  # delete the row at the index position 2
print(m1)
print("*********************")
print(m2)

[['Mon' '1' '2' '3' '4']
 ['Tue' '5' '6' '3' '4']
 ['Wed' '8' '9' '3' '4']
 ['Thu' '7' '6' '2' '4']
 ['Fri' '4' '2' '3' '4']
 ['Sat' '5' '2' '9' '4']
 ['Sun' '10' '12' '3' '4']]
*********************
[['Mon' '1' '2' '3' '4']
 ['Tue' '5' '6' '3' '4']
 ['Thu' '7' '6' '2' '4']
 ['Fri' '4' '2' '3' '4']
 ['Sat' '5' '2' '9' '4']
 ['Sun' '10' '12' '3' '4']]

In [ ]:
# Delete the column data
from numpy import *
m1 = array([["Mon", 1, 2 ,3,4], ["Tue", 5, 6 ,3, 4],
           ["Wed", 8, 9 ,3,4], ["Thu", 7, 6 ,2, 4],
           ["Fri", 4, 2 ,3,4], ["Sat", 5, 2 ,9, 4],
           ["Sun", 10, 12 ,3,4]])
m2 = delete(m1,[2],1)  # delete the column at the index position 2
print(m1)
print("*********************")
print(m2)

[['Mon' '1' '2' '3' '4']
 ['Tue' '5' '6' '3' '4']
 ['Wed' '8' '9' '3' '4']
 ['Thu' '7' '6' '2' '4']
 ['Fri' '4' '2' '3' '4']
 ['Sat' '5' '2' '9' '4']
 ['Sun' '10' '12' '3' '4']]
*********************
[['Mon' '1' '3' '4']
 ['Tue' '5' '3' '4']
 ['Wed' '8' '3' '4']
 ['Thu' '7' '2' '4']
 ['Fri' '4' '3' '4']
 ['Sat' '5' '9' '4']
 ['Sun' '10' '3' '4']]

**Data Types**

---
* List
* Tuple
* Set
* Dictionary

We can perform operation on above data types such as mutable, immutable, indexed and duplication

**List**

---
* List is nothing but sequence of data.
* List is mutable data type i.e. we can update or modify or change or alter the value of list.
* List is sequential arrangement.
* Lists are indexed and duplication allowed
* Different data types allowed
* List is given in brackets and elements are separated by comma.

In [ ]:
# List
list1 = [20, 2022, 20.20, 'Umesh', 'Python']
print(list1)

[20, 2022, 20.2, 'Umesh', 'Python']

In [ ]:
# Access list items
list1 = [20, 2022, 20.20, 'Umesh', 'Python']
print(list1)
print("******************************")
print(list1[2])

[20, 2022, 20.2, 'Umesh', 'Python']
******************************
20.2

In [ ]:
# Access list items using colon (:)
# : means sequential arrangement of data

list1 = [20, 2022, 20.20, 'Umesh', 'Python']
print("List", list1)
print("**************")
print("list1[lower limit : Upper limit (n-1)", list1[1:4]) # n = number of samples

List [20, 2022, 20.2, 'Umesh', 'Python']
**************
list1[lower limit : Upper limit (n-1) [2022, 20.2, 'Umesh']

In [ ]:
# Accessing elements using indices
# [ :n] = if you are not specifying lower limit value it assumes lower index value is zero
list1 = [20, 2022, 20.20, 'Umesh', 'Python']
print("List=", list1)
print("******************")
print("list1[ : 3]=", list1[ : 3])

List= [20, 2022, 20.2, 'Umesh', 'Python']
******************
list1[ : 3]= [20, 2022, 20.2]

In [ ]:
# Accessing elements using indices
# [0: ] = if you are not specifying upper limit value it assumes upper value is maximum index value
list1 = [20, 2022, 20.20, 'Umesh', 'Python']
print("List=", list1)
print("******************")
print("list1[0: ]=", list1[0: ])
print("******************")
print("list1[3: ]=", list1[3: ])

List= [20, 2022, 20.2, 'Umesh', 'Python']
******************
list1[0: ]= [20, 2022, 20.2, 'Umesh', 'Python']
******************
list1[3: ]= ['Umesh', 'Python']

In [ ]:
# Functions in list data type
# Append : add value at the end
list1 = [20, 2022, 20.20, 'Umesh', 'Python']
print("List=", list1)
print("******************")
list1.append('Vansh')
print("List=", list1)

List= [20, 2022, 20.2, 'Umesh', 'Python']
******************
List= [20, 2022, 20.2, 'Umesh', 'Python', 'Vansh']

In [6]:
# append 
list1 = [ 10, 2.3, "Python", 25]
print(list1)
print(" ")
list2 = [ 50, 62.3, "Python", 20]
print(list2)
print(" ")
list1.append(list2)  # append adds the list2 as object to list1
print(list1)

[10, 2.3, 'Python', 25]

[50, 62.3, 'Python', 20]

[10, 2.3, 'Python', 25, [50, 62.3, 'Python', 20]]

In [3]:
# Functions in list data type
# Pop : pop will remove last value or most recently added element LIFO
list1 = [20, 2022, 20.20, 'Umesh', 'Python']
print("List=", list1)
print("******************")
list1 = [20, 2022, 20.20, 'Umesh', 'Python']
print("List=", list1)
a = list1.pop(0) 
print("list1.pop(0)=", a)       # remove 20
print("List=", list1)
print("******************")
list1 = [20, 2022, 20.20, 'Umesh', 'Python']
print("List=", list1)
b = list1.pop()               # remove last element added i.e. python
print("list1.pop()=", b)
print("List=", list1)
print("******************")
list1 = [20, 2022, 20.20, 'Umesh', 'Python']
print("List=", list1)
c = list1.pop(2)
print("list1.pop(2)=", c)     # remove 20.20
print("List=", list1)

List= [20, 2022, 20.2, 'Umesh', 'Python']
******************
List= [20, 2022, 20.2, 'Umesh', 'Python']
list1.pop(0)= 20
List= [2022, 20.2, 'Umesh', 'Python']
******************
List= [20, 2022, 20.2, 'Umesh', 'Python']
list1.pop()= Python
List= [20, 2022, 20.2, 'Umesh']
******************
List= [20, 2022, 20.2, 'Umesh', 'Python']
list1.pop(2)= 20.2
List= [20, 2022, 'Umesh', 'Python']

In [5]:
# Insert function
# list1.insert(index nmber, object)
# add "Vansh" at index 2
list1 = [20, 2022, 20.20, 'Umesh', 'Python']
print("List=", list1)
list1.insert(2, "Vansh")
print("**********************")
print("List=", list1)

List= [20, 2022, 20.2, 'Umesh', 'Python']
**********************
List= [20, 2022, 'Vansh', 20.2, 'Umesh', 'Python']

In [9]:
# extend funcion
list1 = [ 10, 2.3, "Python", 25]
print(list1)
print(" ")
list2 = [ 50, 62.3, "Python", 20]
print(list2)
print(" ")
# extend function add the element of list2 to list11
list1.extend(list2)    
print(list1)

[10, 2.3, 'Python', 25]

[50, 62.3, 'Python', 20]

[10, 2.3, 'Python', 25, 50, 62.3, 'Python', 20]

In [12]:
# Reverse function
list1 = [1, 2, 3, 4, 5, 6]
print("Before the reverse:", list1)
list1.reverse()
print(" ")
print("After the reverse:", list1)

Before the reverse: [1, 2, 3, 4, 5, 6]

After the reverse: [6, 5, 4, 3, 2, 1]

In [17]:
# Sort function
# Arranging values in certain order i.e. ascending or descending 
# Sort function needs similar data type of each element
# Sort function will not work for multiple data types

l1 = [ 12,85,14,94,23]
print(l1)
l1.sort()  # Ascending order
print(" ")
print("Ascending order:", l1)

l1.sort(reverse=True)  # Descending order
print(" ")
print("Descending order:", l1)

[12, 85, 14, 94, 23]

Ascending order: [12, 14, 23, 85, 94]

Descending order: [94, 85, 23, 14, 12]

In [19]:
# sort functon
l1 = ["a", "f", "p", "d", "g", "w", "v", "s", "t"]
print(l1)
l1.sort()  # Ascending order
print(" ")
print("Ascending order:", l1)

l1.sort(reverse=True)  # Descending order
print(" ")
print("Descending order:", l1)

['a', 'f', 'p', 'd', 'g', 'w', 'v', 's', 't']

Ascending order: ['a', 'd', 'f', 'g', 'p', 's', 't', 'v', 'w']

Descending order: ['w', 'v', 't', 's', 'p', 'g', 'f', 'd', 'a']

In [28]:
# Count function
l1 = ['a', 'a', 'x', 'b', 'x', 'x', 's', 'd', 'k', 'd'] 
print(l1)
print("x is repeated", l1.count('x'), "times") # count element

['a', 'a', 'x', 'b', 'x', 'x', 's', 'd', 'k', 'd']
x is repeated 3 times

In [36]:
# remove function
# Here we will not use index number
# In pop we use index number to remove
# Not remove multiple values
# First encountered value is removed
# Only on value is remove in one execution
l1 = [ 1, 5, 6, 4, 9, 2, 1, 2, 3, 6, 2]
print(l1)
print(" ")
print("2 is repeated", l1.count(2), "times")
l1.remove(2)
print(" ")
print("2 is repeated", l1.count(2), "times and list :", l1)

[1, 5, 6, 4, 9, 2, 1, 2, 3, 6, 2]

2 is repeated 3 times

2 is repeated 2 times and list : [1, 5, 6, 4, 9, 1, 2, 3, 6, 2]

In [39]:
# remove duplicates from list using dict
l1 = [ 1, 5, 6, 4, 9, 2, 1, 2, 3, 6, 2]
print(l1)
print(" ")
print(list(dict.fromkeys(l1)))

[1, 5, 6, 4, 9, 2, 1, 2, 3, 6, 2]

[1, 5, 6, 4, 9, 2, 3]

In [42]:
# remove duplicates from list using set
l1 = [ 1, 5, 6, 4, 9, 2, 1, 2, 3, 6, 2]
print(l1)
print(" ")
print(list(set(l1)))

[1, 5, 6, 4, 9, 2, 1, 2, 3, 6, 2]

[1, 2, 3, 4, 5, 6, 9]

In [45]:
# remove duplicates from list using function
l1 = [ 1, 5, 6, 4, 9, 2, 1, 2, 3, 6, 2]
print(l1)
print(" ")
def remove_dup_list(x):
  return list(dict.fromkeys(x))

print(" ")
print(remove_dup_list(l1))

[1, 5, 6, 4, 9, 2, 1, 2, 3, 6, 2]


[1, 5, 6, 4, 9, 2, 3]